<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no"/>
        <title>GOAP experiments</title>

        <link rel="preload" as="style" href="css/mdc.button.min.css"/>

        <link rel="preload" as="style" href="https://fonts.googleapis.com/icon?family=Material+Icons"/>

        {{cssAsset "shared.css"}}
        {{cssAsset "vendors.css"}}
        {{cssAsset "builder.css"}}

        <link rel="shortcut icon" href="img/favicon-b50bc64dc3dea6be292a7063b028f6b4.ico"/>
    </head>
    <body layout="column">
        <bld-structure-root layout="column"
           flex></bld-structure-root>

        {{jsAsset "shared.js"}}
        {{jsAsset "vendors.js"}}
        {{jsAsset "builder.js"}}
    </body>
</html>
